<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>UyTubeWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>MainFilter</filter-name>
    <filter-class>com.uytube.filters.MainFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MainFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.uytube.controllers.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.uytube.controllers.Session</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Videos</servlet-name>
    <servlet-class>com.uytube.controllers.Videos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>History</servlet-name>
    <servlet-class>com.uytube.controllers.History</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.uytube.controllers.Users</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebDataLoader</servlet-name>
    <servlet-class>com.uytube.controllers.WebDataLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Playlist</servlet-name>
    <servlet-class>com.uytube.controllers.Playlist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.uytube.controllers.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.uytube.controllers.Category</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>com.uytube.controllers.Image</servlet-class>
	</servlet>
  
  <servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/get_image</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/iniciar_sesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/cerrar_sesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Playlist</servlet-name>
    <url-pattern>/playlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Playlist</servlet-name>
    <url-pattern>/delete_from_playlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Playlist</servlet-name>
    <url-pattern>/add_to_playlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Playlist</servlet-name>
    <url-pattern>/makePlaylistPublic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Playlist</servlet-name>
    <url-pattern>/makePlaylistPrivate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/create_video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/modify_video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/create_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Users</servlet-name>
    <url-pattern>/check_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/follow_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/unfollow_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/modify_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/delete_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/videos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/comment_video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/comment_comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/like_video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Videos</servlet-name>
    <url-pattern>/dislike_video</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebDataLoader</servlet-name>
    <url-pattern>/data-loader</url-pattern>
  </servlet-mapping>
</web-app>